html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.requestTable th {
	width: 100px;
	color: #283593 !important;
    font-weight: bold !important;
}

.requestTable th,
.requestTable tr,
.requestTable td {
	height: 40px !important;;
}

h1, h2 {
	color: rgb(124, 127, 148);
	/*padding: 0 25px;*/
	/*margin: 0;*/
	text-transform: uppercase;
}